absl-py==0.8.1
astor==0.8.0
backcall==0.1.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
Cython==0.29.13
decorator==4.4.1
gast==0.2.2
google-api-core==1.14.3
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-bigquery==1.21.0
google-cloud-core==1.0.3
google-pasta==0.1.7
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
grpcio==1.24.3
h5py==2.10.0
httplib2==0.14.0
idna==2.8
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
kaggle==1.5.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
mlperf-compliance==0.0.10
numpy==1.17.3
oauth2client==4.1.3
opencv-python-headless==4.1.1.26
opt-einsum==3.1.0
pandas==0.25.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.6.3
ptyprocess==0.6.0
py-cpuinfo==5.0.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
-e git+https://github.com/cocodataset/cocoapi@636becdc73d54283b3aac6d4ec363cffbb6f9b20#egg=pycocotools&subdirectory=PythonAPI
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
python-slugify==4.0.0
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rsa==4.0
scipy==1.3.1
six==1.12.0
tensorboard==2.0.0
tensorflow-estimator==2.0.1
tensorflow-gpu==2.0.0
tensorflow-hub==0.6.0
termcolor==1.1.0
text-unidecode==1.3
tqdm==4.36.1
traitlets==4.3.3
typing==3.7.4.1
uritemplate==3.0.0
urllib3==1.24.3
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
